@page "/chat"

@using Chess.App.Data
@inject IChatService ChatService

<ul id="chatMessages">
    @foreach (var message in Messages) {
        <li>@message</li>
    }
</ul>
<input type="text" id="myChatMessage" @bind="message" />
<input type="button" id="sendButton" value="Send" @onclick="SendMessage" />

@code {
    List<string> Messages = new List<string>();
    string message = string.Empty;

    protected override void OnInitialized()
    {
        ChatService.ReceiveMessage += OnReceiveMessage;
        base.OnInitialized();
    }

    public void SendMessage()
    {
        ChatService.SendMessage(message);
        message = string.Empty;
    }

    private async void OnReceiveMessage(object sender, string msg) {
        await InvokeAsync(() =>
        {
            if (!string.IsNullOrEmpty(msg))
            {
                Messages.Add(msg);
                StateHasChanged();
            }
        });
    }
}