@using Microsoft.AspNetCore.SignalR.Client;
@page "/chat"

<ul id="chatMessages">
    @foreach (var message in Messages) {
        <li>@message</li>
    }
</ul>
<input type="text" id="myChatMessage" @bind="chatMessage" />
<input type="button" id="sendButton" value="Send" @onclick="SendMessage" />

@code {
    private HubConnection _connection;
    List<string> Messages = new List<string>();
    string chatMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder().WithUrl("http://192.168.134.49:5066/chat").Build();

        _connection.On<string>("MessageReceived", (message) => {
            if (!string.IsNullOrEmpty(message))
            {
                Messages.Add(message);
            }
        });

        //This needs to run backend on the dispatcher
        await Task.Run(async () => 
        {
            await _connection.StartAsync();
        });
        //Task.Run(() =>
        //{
        //    Dispatcher.Dispatch(async () => await _connection.StartAsync());
        //});

        base.OnInitialized();
    }

    public async Task SendMessage() {
        await _connection.InvokeCoreAsync("SendMessage", args: new[] { chatMessage });
        chatMessage = string.Empty;
    }
}