@page "/game"
@using Chess.Models;

<div id="Game-Grid" class="columns-8">
@for (int y = 0; y < board.Size; y++)
{
    @for (int x = 0; x < board.Size; x++)
    {
        Cell c = board.Grid[y, x];
        var evenOddClass = (x % 2 == 0 && y % 2 > 0) || (y % 2 == 0 && x % 2 > 0) ? "grid-even" : "grid-odd";
        var isWhiteClass = c.Piece != null && c.Piece.IsWhite ? "text-white" : "";
        <div class="grid-item @evenOddClass @isWhiteClass" @onclick="() => ClickGrid(c)">
            @if (c.Occupied) { 
                <span class="grid-item-text">@c.Piece.Name</span>            
            } else {
                <span class="grid-item-text text-white">@(c.LegalNextMove ? "+" : "")</span>
            }
        </div>
    }
}
</div>

@code {
    static Board board = new Board(8);
    private bool IsWhiteTurn = true;

    public async void ClickGrid(Cell c) {
        if (c.Piece != null)
        {
            if ((IsWhiteTurn && c.Piece.IsWhite) || !IsWhiteTurn && !c.Piece.IsWhite)
            {
                board.MarkNextLegalMoves(c);
                StateHasChanged();
            }
        }
    }
}